.navbar-custom{
  background-color: #2a1f2d;
  height: 7em;
}

.navbar-custom-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .signup-button{
    background-color: #56e39f;
    padding: .5em;
  }

.signup-button a{
  color: #2a1f2d
}

.navbar-ul{
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
  nav a {
    color: #56e39f;
    text-align: right;
  }
