/* Navigation */
.navbar-custom{
  background-color: #291F2E;
  height: 7em;
}

.navbar-custom-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
  }

.signup-button{
  background-color: #7BC68F;
  padding: .5em;
}

.signup-button a{
  color: #291F2E;
}

.full-nav{
  justify-content: space-between;
}
.verticalLine {
  border-left: 2px solid #3B2C36;
  margin-left: 1em;
  height: 4em;
  padding: 1em;
}
.navbar-ul{
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: baseline;
}
  nav a {
    color: #7BC68F;
    text-align: right;
  }

  /* Home page */
  .home-page{
    background: url(./images/home.jpg) no-repeat center fixed;
    background-size: cover;
    height: 500px;
  }
  .home-info{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding-top: 3em;
    margin: auto;
    margin-bottom: 150px;

  }

  .home-self{
    width: 60%;
    color: #291F2E;
  }

  .home-self h1{
    font-size: 4em;
  }

  .get-started{
    display: inline-block;
    background-color: #7BC68F;
    color: #291F2E;
    font-size: 1em;
    padding: 1.75em;
    width: 25em;
    height: 5em;
    text-align: center;
  }

  .get-started:hover{
    color: #291F2E;
    text-decoration: none;
  }
